{% for song in songs.items %}
<div class="uk-card uk-card-default uk-width-1-2@m">

    <div class="uk-card-header">
        <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
                <img class="uk-border-circle" src="{{ song.track.album.images.0.url }}">
            </div>
            <div class="uk-width-expand">
                <h3 class="uk-card-title uk-margin-remove-bottom" style="font-size:35px">{{ song.track.name }}<a href=" {{ song.track.external_urls.spotify }}" style="color:grey;font-size:20px;"> ↗ </a></h3>
                <p class="uk-text-meta uk-margin-remove-top" style="font-size:20px">{{ song.track.album.name }}<a href=" {{ song.track.album.external_urls.spotify }}"> ↗ </a> </p>
            </div>
        </div>
    </div>

    <div class="uk-card-header two ">
        {% if song.track.album.artists|length == 1 %}
        <p class="uk-text-meta uk-margin-remove-top" style="font-size:20px"><i>Artist</i> : {{ song.track.album.artists.0.name }}<a href="{{ song.track.album.artists.0.external_urls.spotify }}"> ↗ </a> </p>
        {% else %}
        <p class="uk-text-meta uk-margin-remove-top" style="font-size:20px"><i>Artist</i> : {{ song.track.album.artists.0.name }}<a href="{{ song.track.album.artists.0.external_urls.spotify }}"> ↗ </a> ( & others ) </p>
        {% endif %}
    </div>

    <div class="uk-card-header two">
        <p class="uk-text-meta uk-margin-remove-top" style="font-size:20px"><i>Track_no</i> : {{ song.track.track_number }} / {{ song.track.album.total_tracks }}</p>
    </div>

    <div class="uk-card-header two">
        <p class="uk-text-meta uk-margin-remove-top" style="font-size:20px"><i>Popularity</i> : {{ song.track.popularity }}</p>
    </div>

    <div class="uk-card-footer">
        <p class="uk-text-meta uk-margin-remove-top" style="font-size:20px"><i>Release_date</i> : {{ song.track.album.release_date }}</p>
    </div>
</div>
{% endfor %}
